@CHARSET "ISO-8859-1";

a, a:visited{
	text-decoration:none;	
	color:blue;
}

#header{
	text-align:center;
}

#footer{
	position:fixed;
	bottom:0;
	right:0;
	clear:both;
}

#content{
	
}

#nav{
	float:left;
	width:200px;
}

#mainauctions{
	float:right;
	width:1000px;
	text-align:center;
}

#scrollbox{
	height:300px;
	width:600px;
	border:1px solid
	#ccc;
	font:16px/26px Georgia, Garamond, Serif;
	overflow:auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

