<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Team18Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.moviebay.pkg.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.moviebay.pkg.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.moviebay.pkg.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainPage</display-name>
    <servlet-name>MainPage</servlet-name>
    <servlet-class>com.moviebay.pkg.servlets.MainPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPage</servlet-name>
    <url-pattern>/MainPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchResServlet</display-name>
    <servlet-name>SearchResServlet</servlet-name>
    <servlet-class>com.moviebay.pkg.servlets.SearchResServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchResServlet</servlet-name>
    <url-pattern>/SearchResServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthenticationFilter</display-name>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.moviebay.pkg.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>MakeAuctionServlet</display-name>
    <servlet-name>MakeAuctionServlet</servlet-name>
    <servlet-class>com.moviebay.pkg.servlets.MakeAuctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeAuctionServlet</servlet-name>
    <url-pattern>/MakeAuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadItemServlet</display-name>
    <servlet-name>LoadItemServlet</servlet-name>
    <servlet-class>com.moviebay.pkg.servlets.LoadItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadItemServlet</servlet-name>
    <url-pattern>/LoadItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessBidServlet</display-name>
    <servlet-name>ProcessBidServlet</servlet-name>
    <servlet-class>com.moviebay.pkg.servlets.ProcessBidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessBidServlet</servlet-name>
    <url-pattern>/ProcessBidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessProfileServlet</display-name>
    <servlet-name>ProcessProfileServlet</servlet-name>
    <servlet-class>com.moviebay.pkg.servlets.ProcessProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessProfileServlet</servlet-name>
    <url-pattern>/ProcessProfileServlet</url-pattern>
  </servlet-mapping>
</web-app>